<!DOCTYPE html>
<html>
    <head>
        <title>Stats Index</title>
        <link rel="stylesheet" href="./res/style.css" />
        <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap" rel="stylesheet">
    </head>
    <body class='index'>
        {{partialHtmlCombined}}
    </body>
</html>
